{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
  {% assign excerpt = post.excerpt | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

 <table style="border: none;">
 <tr>
 <td style="width: 300px; border: none;"><img src="/images/publications/{{ post.image }}" width=250px style="border: 2px black; float:left; margin-right:15px; border-radius: 5px; border-style: none;"/></td>
 <td style="border: none;">
 <div>
    <h2 style="margin-top: 10px; margin-bottom: 0px;">{{ title }}</h2>

    <h3 style="font-weight: normal; margin-top: 10px; margin-bottom: 0px;">{{ excerpt }}</h3>

    <h3 style="margin-top: 10px; margin-bottom: 0px;">

        <!-- Website -->
        {% if post.links_to_website != "" and post.links_to_website != "N/A" %}
          <a style="text-decoration: none;" href="{{ post.links_to_website }}" target="_blank">Website <i class="fa fa-globe"></i></a>&nbsp;&nbsp;&nbsp;
        {% endif %}
        
        
        <!-- Code -->
        {% if post.links_to_code contains "," %}
          {% assign codes = post.links_to_code | split: ", " %}
          Code: [
          {% for code in codes %}
            {% assign code_info = code | split: ": " %}
            <a style="text-decoration: none;" href="{{ code_info.last }}" target="_blank">{{ code_info.first }} <i class="fa fa-code"></i></a>
            {% if code != codes.last %}
              ,&nbsp;
            {% endif %}
          {% endfor %}
          ]&nbsp;&nbsp;&nbsp;
        {% elsif post.links_to_code != "" and post.links_to_code != "N/A" %}
          <a style="text-decoration: none;" href="{{ post.links_to_code }}" target="_blank">Code <i class="fa fa-code"></i></a>&nbsp;&nbsp;&nbsp;
        {% endif %}

        <!-- Video -->
        {% if post.links_to_video != "" and post.links_to_video != "N/A" %}
          <a style="text-decoration: none;" href="{{ post.links_to_video }}" target="_blank">Video <i class="fa fa-film"></i></a>&nbsp;&nbsp;&nbsp;
        {% endif %}
    </h3>
 </div>
 </td>
 </tr>
 </table>
